.game {
    display: flex;
    flex-direction: column;
    width: 100%;    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #dfdcc9;
    border: 2px solid #8d6f5a;
    border-radius: 10px;
}

.gameHeader {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 10px;
    font-weight: bold;
    color: #444;
    border-bottom: 1px dashed #8d6f5a;
}

.teamNames {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    text-align: center;
    gap: 20px;
    margin-top: 10px;
    padding: 8px;
    width: 100%;
}

.playersContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    padding: 8px;
    width: 100%;
}

.players {
    text-align: center;
    text-wrap: balance;
    flex: 1;
}

.scores {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
}

.refs {
    text-align: center;
    color: #444;
    width: 100%;
    padding: 10px;
}

.divider {
    width: 75%;
    align-self: center;
    height: 1px;
    background-color: #444;
    margin: 10px 0;
}