.flagContainer {
    display: flex;
    align-items: top;
}

.pole {
    width: 5px;
    height: 100px;
    background-color: #555;
    border-radius: 5px 5px 0 0 ;
    margin-left: 10px;
}

.flag {
    display: flex;
    width: calc(100vw/4 - 30px - 20px);
    height: calc((100vw/4 - 30px - 20px)/1.5);
    margin-top: 5px;
    border-radius: 0 4px 4px 0;
    animation-duration: 600ms;
}


.podium {
    width: calc(100vw/4 - 30px);
    background-color: #8d6f5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teamName {
    text-align: center;
    font-size: x-small;
    margin: 4px 0;
}

.flagColumn {
    width: calc((100vw/4 - 30px - 20px)/8);
    height: calc((100vw/4 - 30px - 20px)/1.5);
    animation: oscillate 1200ms alternate infinite ease-in-out both;
}

@keyframes oscillate {
    from {
      transform: translateY(1px);
    }
    to {
      transform: translateY(-1px);
    }
}
  